@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    color: black;
}
#input-container{
    border-radius: 6px ;
    padding: 0.5rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-left: 500px;
 
}

button{
    background-color: #1d7044 ;
    color: white;
    border: transparent;
    width: 100px;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    
}

#botao_cadastro{
    width: 290px;
}

button:houver{
    background-color: #1d7044;
    transition: 0.5s;
}


#header{
    background-color: #1d7044;
    width:100% ;
    color: aliceblue;
   
}

#titulo{
    font-size: large;
}
#header-1{
    display: flex;
    font-size: large;
    
}


#footer{

    background-color: #1d7044;
    width: 100%;
    padding: 3%;
}

.hidden{
    display: none;
}
